<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htdf.ma.mq.mapper.QuartzMessageMapper" >

	<select id="getAll" resultType="QuartzMessage">
		SELECT * FROM quartz_message
	</select>
	
	<insert id="insertBatch">
		INSERT INTO quartz_message (message_code,message_name)
		VALUES
		<foreach collection="qts" item="item" separator=",">
			(#{item.message_code},#{item.message_name})
		</foreach>
	</insert>
	
	<update id="updateBatch">
		<foreach collection="qts" item="item" separator=";"></foreach>
			UPDATE quartz_message 
			<set>
				 message_code =#{item.message_code},
				 message_name=#{item.message_name}
			</set>
			
			WHERE id=#{item.id}
	</update>
	
	<delete id="deleteBatch">
		DELETE FROM quartz_message WHERE id in 
		<foreach collection="qts" item="item" separator="," open="(" close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>