<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>消息内容管理</title>
<link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css"/>
<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css"/>
<script type="text/javascript" src="easyui/jquery.min.js"></script>
<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
 <h2>消息内容管理</h2>
    <p>表格展示已有的消息，可管理消息增删改查。<a href="/">返回主页</a></p>
    <div style="margin:20px 0;"></div>
    <!--  -->
    <table id="tt" class="easyui-datagrid" title="任务表" style="width:100%;height:580px"
            data-options="singleSelect:true,url:'message',method:'get',toolbar:table.toolbar">
        <thead>
            <tr>
                <th data-options="field:'message_code',width:200,align:'center',editor:'textbox'">消息编码</th>
                <th data-options="field:'message_name',width:200,align:'center',editor:'textbox'">消息名称</th>
            </tr>
        </thead>
    </table> 
</body>
</html>